<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Dignidad</servlet-name>
        <servlet-class>Dignidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Canton</servlet-name>
        <servlet-class>Canton</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultar</servlet-name>
        <servlet-class>Consultar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Junta</servlet-name>
        <servlet-class>Junta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Parroquia</servlet-name>
        <servlet-class>Parroquia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provincia</servlet-name>
        <servlet-class>Provincia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recinto</servlet-name>
        <servlet-class>Recinto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Zona</servlet-name>
        <servlet-class>Zona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calificador</servlet-name>
        <servlet-class>calificador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>webster</servlet-name>
        <servlet-class>webster</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>webster</servlet-name>
        <url-pattern>/webster</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>responsables_juntas</servlet-name>
        <servlet-class>responsables_juntas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>responsables_juntas</servlet-name>
        <url-pattern>/responsables_juntas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>resultados</servlet-name>
        <servlet-class>resultados</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resultados</servlet-name>
        <url-pattern>/resultados</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>resultados_juntas</servlet-name>
        <servlet-class>resultados_juntas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resultados_juntas</servlet-name>
        <url-pattern>/resultados_juntas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Canton</servlet-name>
        <url-pattern>/Canton</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultar</servlet-name>
        <url-pattern>/Consultar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Junta</servlet-name>
        <url-pattern>/Junta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Parroquia</servlet-name>
        <url-pattern>/Parroquia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provincia</servlet-name>
        <url-pattern>/Provincia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recinto</servlet-name>
        <url-pattern>/Recinto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Zona</servlet-name>
        <url-pattern>/Zona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calificador</servlet-name>
        <url-pattern>/calificador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dignidad</servlet-name>
        <url-pattern>/Dignidad</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>UploadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    
    <context-param>
        <param-name>dirUploadFiles</param-name>
        <param-value>C:\Users\TIC-DQUEVEDO\Documents\NetBeansProjects\elecciones\web\images\actas</param-value>
    </context-param>
    <context-param>
        <param-name>maxFileSize</param-name>
        <param-value>5024000</param-value>        
    </context-param>
    
    <servlet>
        <servlet-name>admin_controlador.srvlt_accesos_listar_todos</servlet-name>
        <servlet-class>admin_controlador.srvlt_accesos_listar_todos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_accesos_listar_todos</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_accesos_listar_todos</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>admin_controlador.srvlt_junta_listar_todos</servlet-name>
        <servlet-class>admin_controlador.srvlt_junta_listar_todos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_junta_listar_todos</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_junta_listar_todos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_acta_listar_todos</servlet-name>
        <servlet-class>admin_controlador.srvlt_acta_listar_todos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_acta_listar_todos</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_acta_listar_todos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_tipo_usuario_listar_combo</servlet-name>
        <servlet-class>admin_controlador.srvlt_tipo_usuario_listar_combo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_tipo_usuario_listar_combo</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_tipo_usuario_listar_combo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_usuario_insert</servlet-name>
        <servlet-class>admin_controlador.srvlt_usuario_insert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_usuario_insert</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_usuario_insert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_usuario_buscar</servlet-name>
        <servlet-class>admin_controlador.srvlt_usuario_buscar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_usuario_buscar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_usuario_buscar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_usuario_buscar_actualizar</servlet-name>
        <servlet-class>admin_controlador.srvlt_usuario_buscar_actualizar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_usuario_buscar_actualizar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_usuario_buscar_actualizar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_usuario_buscar_eliminar</servlet-name>
        <servlet-class>admin_controlador.srvlt_usuario_buscar_eliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_usuario_buscar_eliminar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_usuario_buscar_eliminar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_usuario_actualizar</servlet-name>
        <servlet-class>admin_controlador.srvlt_usuario_actualizar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_usuario_actualizar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_usuario_actualizar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_usuario_actualizar_contrasena</servlet-name>
        <servlet-class>admin_controlador.srvlt_usuario_actualizar_contrasena</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_usuario_actualizar_contrasena</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_usuario_actualizar_contrasena</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_usuario_eliminar</servlet-name>
        <servlet-class>admin_controlador.srvlt_usuario_eliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_usuario_eliminar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_usuario_eliminar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_usuario_listar_todos</servlet-name>
        <servlet-class>admin_controlador.srvlt_usuario_listar_todos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_usuario_listar_todos</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_usuario_listar_todos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_usuario_listar_combo</servlet-name>
        <servlet-class>admin_controlador.srvlt_usuario_listar_combo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_usuario_listar_combo</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_usuario_listar_combo</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>admin_controlador.srvlt_acta_images_insert</servlet-name>
        <servlet-class>admin_controlador.srvlt_acta_images_insert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_acta_images_insert</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_acta_images_insert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_acta_images_buscar</servlet-name>
        <servlet-class>admin_controlador.srvlt_acta_images_buscar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_acta_images_buscar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_acta_images_buscar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_acta_images_buscar_actualizar</servlet-name>
        <servlet-class>admin_controlador.srvlt_acta_images_buscar_actualizar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_acta_images_buscar_actualizar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_acta_images_buscar_actualizar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_acta_images_buscar_eliminar</servlet-name>
        <servlet-class>admin_controlador.srvlt_acta_images_buscar_eliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_acta_images_buscar_eliminar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_acta_images_buscar_eliminar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_acta_images_actualizar</servlet-name>
        <servlet-class>admin_controlador.srvlt_acta_images_actualizar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_acta_images_actualizar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_acta_images_actualizar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_acta_images_eliminar</servlet-name>
        <servlet-class>admin_controlador.srvlt_acta_images_eliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_acta_images_eliminar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_acta_images_eliminar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_acta_images_listar_todos</servlet-name>
        <servlet-class>admin_controlador.srvlt_acta_images_listar_todos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_acta_images_listar_todos</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_acta_images_listar_todos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_acta_images_listar_combo</servlet-name>
        <servlet-class>admin_controlador.srvlt_acta_images_listar_combo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_acta_images_listar_combo</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_acta_images_listar_combo</url-pattern>
    </servlet-mapping>
    
    <!-- RECINTOS -->
    <servlet>
        <servlet-name>admin_controlador.srvlt_recintos_insert</servlet-name>
        <servlet-class>admin_controlador.srvlt_recintos_insert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_recintos_insert</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_recintos_insert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_recintos_buscar</servlet-name>
        <servlet-class>admin_controlador.srvlt_recintos_buscar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_recintos_buscar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_recintos_buscar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_recintos_buscar_actualizar</servlet-name>
        <servlet-class>admin_controlador.srvlt_recintos_buscar_actualizar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_recintos_buscar_actualizar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_recintos_buscar_actualizar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_recintos_buscar_eliminar</servlet-name>
        <servlet-class>admin_controlador.srvlt_recintos_buscar_eliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_recintos_buscar_eliminar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_recintos_buscar_eliminar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_recintos_actualizar</servlet-name>
        <servlet-class>admin_controlador.srvlt_recintos_actualizar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_recintos_actualizar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_recintos_actualizar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_recintos_eliminar</servlet-name>
        <servlet-class>admin_controlador.srvlt_recintos_eliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_recintos_eliminar</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_recintos_eliminar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_recintos_listar_todos</servlet-name>
        <servlet-class>admin_controlador.srvlt_recintos_listar_todos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_recintos_listar_todos</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_recintos_listar_todos</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_controlador.srvlt_recintos_listar_combo</servlet-name>
        <servlet-class>admin_controlador.srvlt_recintos_listar_combo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_controlador.srvlt_recintos_listar_combo</servlet-name>
        <url-pattern>/admin/admin_controlador.srvlt_recintos_listar_combo</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
</web-app>
